#logo {
	background-color: #104E8B;
	color: white; 
	font-family: serif;
	margin-top: 0; 
	margin-right: 10%;
	margin-left: 10%;  
}

#navigation-buttons{
	margin-left: 11%;
}

#anbieten-button{
	margin-left: 1%;
	margin-right: 0; 
}

#merkliste-button{
	float: right; 
	margin-right: 12%;  
	margin-left: 0;  
}

