#logo  {
	background-color: #175573;
	color: white; 
	font-family: serif;
	margin-top: 0; 
	margin-right: 15%;
	margin-left: 15%;  
	padding-left: 1%; 
}

#navigation-buttons{
	margin-left: 15%;
}

#anbieten-button{
	margin-left: 1%;
	margin-right: 0; 
}

#merkliste-button{
	float: right; 
	margin-right: 18%;  
	margin-left: 0;  
}

#mieten-kaufen-select{
	display: inline-block;
	margin-bottom: 3%;
	margin-top: 3%; 
}

#map-canvas {
	height: 500px;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 2%;
	margin-bottom: 2%; 
}

#controls-left {
	height: 10%;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 1%;
}

.inputClass {
	display: block;
	margin: 0 auto 10px;
}

#selection {
	background-color: #175573;
	margin-left: 15%;
	margin-right: 15%;
	overflow: auto;
	color: white;
	margin-top: 10px;
	border-style: solid;
}

#input {
	width: 25%; 
	float: left;
	margin-top: 20px;
	margin-left: 2%;
}

#map-canvas{
	width: 69%;
	float: left;
	margin-left: 2%;
	margin-right: 0; 
}

#rooms-controls, #size-controls, #date-controls {
	margin-top: 5%;
	display: inline-block; 
}

#moneyslider, #roomsslider, #sizeslider {
	margin-top: 2%;
	margin-left: 5%; 
	width: 94%; 
	margin-bottom: 2%; 
}

#money-lower-input, #money-upper-input, #rooms-lower-input, #rooms-upper-input,
#size-lower-input, #size-upper-input {
	float: left; 
	width: 40%;
	margin-left: 2%;
	display: inline;
}

.inputlabel{
	float: left; 
	margin-left: 2%; 
	margin-right: 2%; 
}

#money-lower-input, #rooms-lower-input, #size-lower-input{
	margin-left: 5%; 
}

#wo-input, #was-input{
	margin-left: 0;
	width: 79%;
}

/*Auskommentieren */
#wo-label, #was-label{
	float: left; 
	width: 20%; 
}

.Property {
	background-color: #175573;
	margin-left: 15%;
	margin-right: 15%;
	overflow: auto;	
	margin-top: 2%; 
	margin-bottom: 0.500%; 
}

.Startimage{
	float: left; 
	height: auto;
	width: 200px; 
	height: 150px;  
	padding: 7px;
}

.description {
	float: left; 
}

.immo-headline, .immo-price {
	font-size: 22px; 
	color: white; 
	margin-left: 10%; 
}

.immo-headline{
	width: 100%; 
	float: left;
}

.immo-price {
	position: absolute;
    right: 16%;
    float: left;
}

.immo-size {
	margin-left: 10%; 
	font-size: 18px;
	width: 100%; 
	color: white;  
}

.immo-rooms, .immo-plz{
	margin-left: 10%; 
	font-size: 18px;
	width: 100%; 
	color: white; 
}

.scrollToTop{
	width:15%;  
	height:2%;
	text-align:center; 
	font-weight: bold;
	margin-left: 70%;
	margin-right: 15%; 
	margin-bottom: 10px; 
}
.scrollToTop:hover{
	text-decoration:none;
}

.hover{
    background-color: #F7AD37;
}

#detail-head, #map, #images, #immo-data, #immo-des, #contakt{
	background-color: #175573;
	color: white; 
	margin: 0;
	margin-top: 1%; 
	margin-right: 15%;
	margin-left: 15%;  
	font-size: 20px;
	padding: 0.5%; 
}

#detail-head {
	height: 50px; 
}

#immo-headline{
	text-decoration: underline;
}

#add-merkliste{
	position: absolute;
	right: 15.1%; 
}

#immo-headline, #add-merkliste {
	overflow: auto;
	float: left;
}

#map-text, #map-size, #images-text, #images-size, #data-text, #data-size, #des-text, #des-size, #contact-text, #contact-size {
	overflow: auto;
	float: left;
}

#map-size, #images-size, #data-size, #des-size, #contact-size  {
	position: absolute;
	right: 16%; 
}

#map-content, #images-content, #data-content, #des-content, #contact-content{
	padding: 1%; 
	background-color: white; 
	height: 0px; 
	margin-top: 5%; 
}

#images-content {
	height: 300px; 
}

#data-size, #map-size, #images-size, #des-size, #contact-size {
	overflow: hidden;
}


