html { height: 100% }

body { height: 100%; margin: 0; padding: 0 }

#logo {
	background-color: #104E8B;
	color: white; 
	font-family: serif;
	margin-top: 0; 
	margin-right: 10%;
	margin-left: 10%;  
	padding-left: 1%; 
}

#navigation-buttons{
	margin-left: 11%;
}

#anbieten-button{
	margin-left: 1%;
	margin-right: 0; 
}

#merkliste-button{
	float: right; 
	margin-right: 12%;  
	margin-left: 0;  
}

#map-canvas {
	height: 500px;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 2%;
}

#controls-left {
	height: 10%;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 1%;
}

.inputClass {
	display: block;
	margin: 0 auto 10px;
}

#selection {
	background-color: #104E8B;
	margin-left: 10%;
	margin-right: 10%;
	height: inherit;
	color: white;
	margin-top: 20px;
}

#input {
	width: 25%; 
	float: left;
	margin-top: 20px;
	margin-left: 2%;
}

#map-canvas{
	width: 64%;
	float: left;
	margin-left: 5%;
	margin-right: 0; 
}

#rooms-controls, #size-controls, #date-controls {
	margin-top: 5%;
	display: inline-block; 
}

#moneyslider, #roomsslider, #sizeslider {
	margin-top: 2%;
	margin-left: 5%; 
	width: 100%; 
	margin-bottom: 2%; 
}

#money-lower-input, #money-upper-input, #rooms-lower-input, #rooms-upper-input,
#size-lower-input, #size-upper-input {
	float: left; 
	width: 41%;
	margin-left: 2%;
	display: inline;
}

.inputlabel{
	float: left; 
	margin-left: 2%; 
	margin-right: 2%; 
}

#money-lower-input, #rooms-lower-input, #size-lower-input{
	margin-left: 5%; 
}

#wo-input, #was-input{
	margin-left: 0;

}

/*Auskommentieren */
#wo-label, #was-label{
	float: left; 
	width: 20%; 
}

