html { height: 100% }

body { height: 100%; margin: 0; padding: 0 }

#logo {
	background-color: #175573;
	color: white; 
	font-family: serif;
	margin-top: 0; 
	margin-right: 15%;
	margin-left: 15%;  
	padding-left: 1%; 
}

#navigation-buttons{
	margin-left: 15%;
}

#anbieten-button{
	margin-left: 1%;
	margin-right: 0; 
}

#merkliste-button{
	float: right; 
	margin-right: 18%;  
	margin-left: 0;  
}

#mieten-kaufen-select{
	display: inline-block;
	margin-bottom: 3%;
	margin-top: 3%; 
}

#map-canvas {
	height: 500px;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 2%;
	margin-bottom: 2%; 
}

#controls-left {
	height: 10%;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 1%;
}

.inputClass {
	display: block;
	margin: 0 auto 10px;
}

#selection {
	background-color: #175573;
	margin-left: 15%;
	margin-right: 15%;
	overflow: auto;
	color: white;
	margin-top: 10px;
	border-style: solid;
}

#input {
	width: 25%; 
	float: left;
	margin-top: 20px;
	margin-left: 2%;
}

#map-canvas{
	width: 64%;
	float: left;
	margin-left: 5%;
	margin-right: 0; 
}

#rooms-controls, #size-controls, #date-controls {
	margin-top: 5%;
	display: inline-block; 
}

#moneyslider, #roomsslider, #sizeslider {
	margin-top: 2%;
	margin-left: 5%; 
	width: 100%; 
	margin-bottom: 2%; 
}

#money-lower-input, #money-upper-input, #rooms-lower-input, #rooms-upper-input,
#size-lower-input, #size-upper-input {
	float: left; 
	width: 40%;
	margin-left: 2%;
	display: inline;
}

.inputlabel{
	float: left; 
	margin-left: 2%; 
	margin-right: 2%; 
}

#money-lower-input, #rooms-lower-input, #size-lower-input{
	margin-left: 5%; 
}

#wo-input, #was-input{
	margin-left: 0;
	width: 80%;
}

/*Auskommentieren */
#wo-label, #was-label{
	float: left; 
	width: 20%; 
}

#Ergebnis {
	background-color: #175573;
	margin-left: 15%;
	margin-right: 15%;
	overflow: auto;	
	margin-top: 2%; 
	margin-bottom: 0.500%; 
}

#Startimage{
	float: left; 
	height: auto;
	width: 200px; 
	height: 150px;  
}

#description {
	float: left; 
}

#immo-headline, #immo-price {
	font-size: 22px; 
	color: white; 
	margin-left: 10%; 
}

#immo-headline{
	width: 100%; 
	float: left;
}

#immo-price {
	position: absolute;
    right: 16%;
    float: left;
}

#immo-size {
	margin-left: 10%; 
	font-size: 18px;
	width: 100%; 
	color: white;  
}

#immo-rooms, #immo-plz{
	margin-left: 10%; 
	font-size: 18px;
	width: 100%; 
	color: white; 
}

